
 .employee-form  {
    width: 1400px;   
    background-color: white;
    box-Shadow: 0px 0px 0px black; 
    border-Radius: 20px; 
    border: none;
    margin-top: 20px;    
    padding: 20px;    
}



.admin-menus ul {
    display: flex;
    justify-content: space-evenly;
    /* height: 45px; */
    /* margin: 10px; */
    list-style: none; 
       
}
.admin-menus ul li a {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px; 
    color: black; 
    text-decoration: none;    
}


.admin-menus ul li a.active {
  background-color: #1C2FBA;
  color: white;
}


.btn-submit {
    width: 120px;
    margin-right: 30px;
    border: none;
    border-radius: 20px;
    background-color: green;
   font-size: 20px;
   font-weight: bold;
   color: white;
   height: 35px;
}
.btn-cancel {
    width: 120px;
    margin-right: 100px;
    border: none;
    border-radius: 20px;
   font-size: 20px;
   font-weight: bold;   
  height: 35px;
  background-color: gray;
  color: white;
   
}
.employee-form .label{
    /* background-color: white;   */
    padding-right: 20px;  
}
.footer{
    
     
    padding: 10px 0 ;
    background: #D9D9D9;
    text-align: center;
    margin-bottom: 0;
   
   
}
  .header{
    width: 100%;
    height: 60px;
    background-color: #1C2FBA;
  }
  .nav_box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2FBA;
  }
  .timesheet{
    font-size: 2.5rem;
    font-weight: bold;
    color: #E0F2A8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1C2FBA;
    height: 60px;
  }
  .logo img{   
    height: 60px;
    width: 60px; 
    left: 0;
    
    background-color: #1C2FBA;
  }  
  
  .timestamp span{
    background-color: #1C2FBA;
    color: white;
  }

  .box .ellipse {
    background-color: #1b5690;
    border: 4px solid;
    border-color: #dff2a8;
    border-radius: 50px;
    height: 50px;
    right: 0;     
    width: 50px; 
    margin: 5px;
  }
  
  .time{
    color: #dff2a8;
    font-family: "Poppins-Reular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    right: 0;
    letter-spacing: 0;
    line-height: 100px;
    position: fixed;
    top: 0;
  }
  .date{
    color: #dff2a8;
    font-family: "Poppins-Reular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    right: 0;
    letter-spacing: 0;
    line-height: 100px;
    position: fixed;
    top: 0;
  } 
  
.background-clr{
   background-color: #F5FFD7 ; 
   height: 100%;
   min-height: 100vh;
   padding-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-bottom: 50px;
}
.no-focus-outline{
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  /* text-decoration: underline; */
  margin: 10px;  
}
.no-focus-outline .emp-lbl{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
/* .w-75 {
  max-width: 180px;
  background-color: rgb(251, 250, 250); 
} */

.no-focus-outline .search-control{
  border: none;
  border-bottom: 1px solid black;
}

.no-focus-outline .search-control:focus {
  border: none;
  border-bottom: 1px solid black;
  outline: 0;
}

.no-focus-outline .border-0 .bi-search {
  color: black;
  background-color: rgb(251, 250, 250);  
}

.searchEmployeePanel-bg {
  margin: 30px;
 display: block;
 justify-content: center;
 width: 2300px;
 padding-left: 30px;
}

.btn-save {
  width: 120px;
  margin-right: 30px;
  margin-bottom: 30px;  
  border: none;
  border-radius: 20px;
  background-color: green;
  font-size: 20px;
  font-weight: bold;
  color: white;
  height: 30px;  
}

.btn-edit {
  width: 120px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 0, 255);
 font-size: 20px;
 font-weight: bold;
 color: white; 
 height: 35px;
}

.btn-delete {
  width: 120px;
  margin-right: 20px;
  /* margin-left: 10px; */
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 0, 0);
 font-size: 20px;
 font-weight: bold;
 color: white;  
 height: 35px;
}

 .form-group {
  margin-bottom: 30px;  
}

.employeeEdit-container{
  width: 90%;
  margin: 0 auto; 
}

input.workInput-edit{
  width: 50px;
}
.projectid{
  width: 200px;
  /* position: absolute; */
}
.date-col{
  min-width: 150px;
}

 
