/* for navbar  */


.d-and-t {
    display: flex;
    justify-content: end;
}

.bg {
    background-color: rgb(240, 219, 24);

}

@media screen and (max-width: 500px) {

    /* CSS styles to apply when screen width is 768px or less */
    .d-and-t {

        display: none;
    }
}

.ti-sign-in {
    border: 2px solid white;
    margin-top: 4px;
    padding: 0 5px;
    border-radius: 30px;

}

/* super admin navigation */
.superadmin-navigation {
    background-color: #F5FFD7;
}

.superadmin-navigation-link {
    background-color: #fff;
    color: black !important;
    border: 2px solid black;
    margin: 5px 10px;
    border-radius: 5px;
}

.superadmin-navigation-link:hover {
    box-shadow: 5px 5px 0 gray;
}

.superadmin-navigation .active {
    background-color: #1C2FBA;
    color: #fff !important;

}