/* Create Admin User form */

.sprAdmin-createAdmin{
    width: 90%;
    margin: 0 auto;
   
}

.sprAdmin-createAdmin-title{
  letter-spacing:2px;
  font-weight: 900;
}

.sprAdmin-createAdmin-body{
    background-color: #fff;
    
}

.sprAdmin-createAdmin-form{
    width: 100%;
    margin: 20px auto;
}


/* checkboxes */
.sprAdmin-createAdmin-checkbox-create:checked{
   background-color: green !important; 
}

.sprAdmin-createAdmin-checkbox-delete:checked{
    background-color:red !important;
 }

 /* form error */

 .sprAdmin-createAdmin-input-br-error{
    border: 2px solid rgba(228, 66, 66, 0.826) !important;
 }

 .sprAdmin-createAdmin-error-message{
    color:rgba(228, 14, 14, 0.826) ;
 }


/* modal */
 /* customize the modal overall width */

 .custom-modal {
    width: 100%;
    max-width: 300px; 
    
  } 

 .modal-success img{
    width: 50px;
 }

 .sprAdmin-createAdmin-address {
    width: 100%; /* Make the textarea occupy the full width of its container */
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    /* Hide vertical scrollbar */
    resize: none; 
 }
