*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.approvelHeader{
    background-color: #1C2FBA;
    
}

.signInSymbol{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 5px;

    
}

/*for  approvel body */

/* background color */
.approvel-body{
 background-color:#F5FFD7 ;
 min-height: 100vh;
}

.approvel-title{
    font-weight: bold;
}

/* for edit page */

.background-clr{
    background-color:#F5FFD7 ;
    min-height: 100vh;
}


.background-clr .edit-timesheet{
    width: 90%;
    margin: 0 auto;
}

.workInput-edit{
    width: 100%;
    max-width: 40px;
}

