/* for editadmin page  */
/*  */

.sprAdmin-editAdmin-title{
    letter-spacing:2px;
    font-weight: 900;
  }

.sprAdmin-editAdmin-form{
    width: 100%;
    margin: 0 auto;
    background-color:#fff;
}

